# Topic: Neighborhood factors affecting Fuel Station sales in Tirupati
---------------------------------------------------------------------------------------------------------------

## Introduction

**Business Idea:** The idea of this project is to explore the neighborhoods of all fuel filling stations in Tirupati(City in India) using Foursquare to analyse how the presence of different neighborhoods affect the fuel sales of each fuel station. A machine learning model can be created with the help of which any future project proposals to setup a fuel station in Tirupati can have its yearly sales figures predicted based on the neighborhood it is being set up in. 

**Who would be interested:** The target audience are the stakeholders, the fuel station dealers and Oil companies who with the help of this model can get an estimate of the return on their investments before starting the project.

## Data

**Data being used is:**

*1.List of fuel filling stations in Tirupati with their Name, Latitude and Longitude.*

In [2]:
import pandas as pd

Importing Data to Notebook

Example Data set: 
The data that'll be used from this table are -The name of the company that own the fuel station, the name of the fuel station, its unique code and the Latitude and longitude coordinates

In [3]:
import types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.
client_acb93e73a67c42edbfc53da97a5368cc = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='GmlD90RmQg6EXmGWn9-9cRvJS4-HkaGyy9CVJakvTGyl',
    ibm_auth_endpoint="https://iam.cloud.ibm.com/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3.eu-geo.objectstorage.service.networklayer.com')

body = client_acb93e73a67c42edbfc53da97a5368cc.get_object(Bucket='battleofneighborhoods-donotdelete-pr-j1ddqwemzld3ht',Key='OMC Customer Master_edit.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_1 = pd.read_csv(body)
df_data_1.head()

,State Office,Sales Area,Company,Cust Code,Cust Name,Trading Area Name,ADDRESS,STATE,DISTRICT,CLASS OF MARKET,...,HIGHWAYNO,RO SITE,DEARLSHIP CATEGORY,RO TYPE,COCO TYPE,RO BRANDING,AUTOMATION,REMARKS,LATITUDE,LONGITUDE
0,TAPSO,Chittoor II RSA,BPCL,22216,GJN TRANSLINES-Gandlakothur,Gandlakothur,Not Updated,Andhra Pradesh,CHITTOOR,D1,...,4,A,Open,REGURAL RO,Not Updated,None,NO,NaN,13.580830,80.040090
1,TAPSO,TIRUPATI RSA,BPCL,19990,SRAVANI FILLING STN,Renigunta,Renigunta,Andhra Pradesh,CHITTOOR,D1,...,716,A,Open,REGURAL RO,Not Updated,None,NO,NaN,13.640670,79.513970
2,TAPSO,TIRUPATI RSA,HPCL,20110,HARSHINI PETRO PARK,Thukivakkam Renigunta Byepass,Thukivakkam Renigunta Byepass,Andhra Pradesh,CHITTOOR,C,...,NaN,A,Open,REGURAL RO,Not Updated,CLUB HP,NO,NaN,13.617192,79.492716
3,TAPSO,Chittoor II RSA,BPCL,22186,COCO - BANGARUPALYAM,Bangarupalayam,Not Updated,Andhra Pradesh,CHITTOOR,D1,...,4,A,Open,COCO,PERMANENT,Ghar,YES,NaN,13.198960,78.921080
4,TAPSO,TIRUPATI RSA,BPCL,30564,Amma Filling Station,NH565,ERPEDU,Andhra Pradesh,CHITTOOR,D1,...,565,A,Open,REGURAL RO,Not Updated,None,NO,NaN,0.000000,0.000000

<br>

*2. Data of sales in 2019 of each fuel station in Tirupati.*

Importing Data to Notebook

Example Data set: The data that'll be used from the table is - The name of the fuel station, its unique code and the Petrol and Diesel sales figures in (Kilolitres) for the year 2019.

In [7]:

body = client_acb93e73a67c42edbfc53da97a5368cc.get_object(Bucket='battleofneighborhoods-donotdelete-pr-j1ddqwemzld3ht',Key='HPCL Sale data.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_2 = pd.read_csv(body)
df_data_2.head()

,S NO,CC,RO NAME,RDB CODE,LOCATION,RSA,COMMISSINONG DATE,DIST,MS APR2020,HSD APR 2020,...,MS MAR 19,HSD MAR 19,MS CUMM CY,HSD CUMM CY,MS CUMM LY,HSD CUMM LY,MS CUMM 18-19,HSD CUMM 18-19,MS 17-18,HS 17-18
0,1.0,12651010.0,MS/HSD SREE DURGA PETROLEUM SERVICE,13002.0,ANANTAPUR,Ananthapur RSA,NaN,Ananthapur,24.0,0.0,...,115.0,105.0,514,294,774,687,1239.0,999.0,1219.0,633.00
1,2.0,12655110.0,MS/HSD BALAJI AUTO SERVICE,26784.0,GUNTAKAL,Guntakal RSA,NaN,Ananthapur,88.0,32.0,...,185.0,151.0,974,522,1228,1040,1911.0,1787.0,1642.0,1676.49
2,3.0,12656310.0,MS/HSD MEDA SERVICE STATION,13013.0,ANANTAPUR,Ananthapur RSA,NaN,Ananthapur,0.0,0.0,...,56.0,28.0,212,88,359,201,604.0,344.0,656.0,412.00
3,4.0,12690110.0,MS/HSD JAYALAKSHMI SERVICE STATION,26786.0,GOOTY,Guntakal RSA,NaN,Ananthapur,29.0,51.0,...,60.0,120.0,406,650,469,791,715.0,1389.0,618.0,1258.00
4,5.0,12780010.0,MS/HSD J ANANTHARAMULU,26785.0,URAVAKONDA,Guntakal RSA,NaN,Ananthapur,30.0,30.0,...,72.0,96.0,333,365,395,606,725.0,1244.0,185.0,283.00